<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 mb-4">
            <div class="card">
                <img th:src="@{/image/{avatar}(avatar=${product.avatar})}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                    </div>
                    <p class="card-text" th:text="${product.description}">Product Description</p>
                    <div class="text-center">
                        <a th:href="@{/product/details/{id}(id=${product.id})}" class="btn btn-primary" style="width: 150px;">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>