<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout-admin">
<head>
    <meta charset="UTF-8">
    <title>Thông tin người dùng</title>
</head>
<body>
<div class="container">
    <section layout:fragment="content" style="margin-left: 5px; margin-top: 5px" th:object="${user}">
        <div class="md-3">
            <label for="fullName">Họ và tên</label>
            <input type="text" th:field="*{fullName}" id="fullName" name="fullName" class="form-control" readonly>
        </div>
        <div class="md-3">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" id="username" name="username" class="form-control" readonly>
        </div>
        <div class="md-3">
            <label for="dateOfBirth">Ngày sinh</label>
            <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" name="dateOfBirth" class="form-control" readonly>
        </div>
        <div class="md-3">
            <label for="gender">Giới tính</label>
            <input type="text" th:field="*{gender}" id="gender" name="gender" class="form-control" readonly>
        </div>
        <div class="md-3">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" name="email" class="form-control" readonly>
        </div>
        <div class="md-3">
            <label for="phone">Số điện thoại</label>
            <input type="tel" th:field="*{phone}" id="phone" name="phone" class="form-control" readonly>
        </div>
        <div class="md-3" style="margin-left: 5px; margin-top: 5px">
            <a th:href="@{/update}" role="button" class="btn btn-primary">Chỉnh sữa thông tin</a>
            <a th:href="@{/admin}" role="button" class="btn btn-info">Quay về</a>
        </div>
    </section>
</div>
</body>
</html>