<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-admin">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật sản phẩm</title>
</head>
<body>
<div class="container-fluid" style="margin-left:10px">
    <h1>Cập nhật sản phẩm</h1>
    <section layout:fragment="content" class="container mb-5">
        <form th:action="@{/products/update/{id}(id=${product.id})}" method="post" th:object="${product}" enctype="multipart/form-data"  class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name">Tên sản phẩm</label>
                <input type="text" id="name" name="name" class="form-control" th:field="*{name}" placeholder="Tên sản phẩm">
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label for="description">Mô tả</label>
                <input type="text" id="description" name="description" class="form-control" th:field="*{description}">
            </div>
            <div class="mb-3">
                <label for="quantity">Số lượng</label>
                <input type="text" id="quantity" name="quantity" class="form-control" th:field="*{quantity}" placeholder="Số lượng">
                <div class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
            </div>
            <div class="mb-3">
                <label for="price">Giá</label>
                <input type="text" id="price" name="price" class="form-control" th:field="*{price}" placeholder="Giá sản phẩm">
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
            <div class="mb-3">
                <label for="category">Loại sản phẩm</label>
                <select th:field="*{category}" class="form-control" id="category">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="imageFile">Hình ảnh</label>
                <input type="file" id="imageFile" name="imageFile" class="form-control">
                <img th:src="@{/image/{avatar}(avatar=${product.avatar})}" alt="Current Image" style="max-width: 200px; margin-top: 10px;"/>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a type="button" th:href="@{/products}" class="btn btn-info">Quay về</a>
        </form>
    </section>
</div>
</body>
</html>