<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-admin">
<head>
    <meta charset="UTF-8">
    <title>Thêm voucher</title>
</head>
<body>
<div class="container-fluid" style="margin-left:10px">
    <h1>Thêm voucher</h1>
    <section layout:fragment="content" class="container mb-5">
        <form th:action="@{/vouchers/add}" method="post" th:object="${voucher}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name">Tên voucher</label>
                <input type="text" id="name" name="name" class="form-control" th:field="*{name}" placeholder="Tên voucher">
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{errors}"></div>
            </div>
            <div class="md-3">
                <label for="startDate">Mã voucher</label>
                <input type="text" id="code" name="code" class="form-control" th:field="*{code}">
                <div class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{errors}"></div>
            </div>
            <div class="md-3">
                <label for="startDate">Ngày áp dụng</label>
                <input type="date" id="startDate" name="startDate" class="form-control" th:field="*{startDate}">
                <div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{errors}"></div>
            </div>
            <div class="md-3">
                <label for="endDate">Ngày kết thúc</label>
                <input type="date" id="endDate" name="endDate" class="form-control" th:field="*{endDate}">
                <div class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{errors}"></div>
            </div>
            <div class="md-3">
                <label for="discount">Giảm giá</label>
                <input type="text" id="discount" name="discount" class="form-control" th:field="*{discount}">
                <div class="text-danger" th:if="${#fields.hasErrors('discount')}" th:errors="*{errors}"></div>
            </div>
            <div class="md-3">
                <label for="quantity">Ngày kết thúc</label>
                <input type="number" id="quantity" name="quantity" class="form-control" th:field="*{quantity}">
                <div class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{errors}"></div>
            </div>
            <div class="mb-3">
                <label for="category">Loại sản phẩm</label>
                <select th:field="*{category}" class="form-control" id="category">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a type="button" th:href="@{/vouchers}" class="btn btn-info">Quay về</a>
        </form>
    </section>
</div>
</body>
</html>