<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-login">
<head>
    <title>Quên mật khẩu</title>
</head>
<body>
<h1>Quên mật khẩu</h1>
<section layout:fragment="content">
    <form th:action="@{/forgot-password}" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Xác nhận</button>
    </form>
</section>
<p th:text="${message}"></p>
<p th:text="${error}"></p>
</body>
</html>