<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout-login">
<head>
    <title>Đổi mật khẩu</title>
</head>
<body>
<h1>Đổi mật khẩu</h1>
<section layout:fragment="content">
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <input type="password" name="password" placeholder="Nhập mật khẩu mới" required>
        <button type="submit">Xác nhận</button>
    </form>
</section>
<p th:text="${message}"></p>
<p th:text="${error}"></p>
</body>
</html>